:root {
  --heading-font: 'Ubuntu', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

.section {
  padding-block: 100px;
}

h2 {
  margin-bottom: 2em;
}

footer {
  height: 800px;
  width: 100%;
}